@charset "utf-8";

.openerp .oe_leftbar {
  display: none;
  width: 220px;
  /*background-color: #60FB94;*/
  background-color: #006400;
  border-right: 1px solid yellow;
  text-shadow: 0 1px 1px white;
  padding-bottom: 16px;
}

.navbar-inverse {
    width: 100%;
    height: 32px;
    /*background-color: #60FB94;*/
    background-color: #006400;
    border-color: yellow;
}

